.select-container {
  width: 600px;
  margin: auto;
}

.selector {
  display: block;
  margin: auto;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
}

.selector option {
  background-color: #f9f9f9;
  color: #333;
  font-weight: normal;
}

.selector option:checked {
  background-color: #e0e0e0;
  color: #000;
  font-weight: bold;
}

#canvas1 {
  border: 5px solid black;
  display: block;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 48px;
}